<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - I-FOX</title>
    <link rel="icon" href="~/img/logo_maior.png" />

    @*LINKS*@
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Estilos", false)
    

</head>
<body>
  
    @{
        if (TempData["NavBar"] != "falso")
        {
           <header>
                @*NAVBAR*@
                <nav class="navbar">
                    <a class="cabecalho-navbar" href="Usuario/Home">
                        <img src="~/img/raposa-navbar.png" />
                        <h1>I-FOX</h1>
                    </a>

                    <div class="menu-hamburguer">
                        <div class="linha1"></div>
                        <div class="linha2"></div>
                        <div class="linha3"></div>
                    </div>
                    
                    <ul class="nav-filhos">
                        <li><a class="nav-item" id="item1" asp-controller="Usuario" asp-action="Home">HOME</a></li>
                        <li><a class="nav-item" id="item2" href="">PERFIL</a></li>
                        <li><a class="nav-item" id="item3" href="">FEED</a></li>
                        <li><a class="nav-item" id="item4" href="">LOJA</a></li>
                    </ul>
                    
                </nav>
           </header>
        }
    }
    
    <main role="main">

        @RenderBody()

    </main>

    @*<footer>

        <ul class="menu">
            <!--coisas que vão ficar dentro do footer-->

            <li><a href="#"><ion-icon name="shield-checkmark-outline"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-google-playstore"></ion-icon></a></li>

        </ul>

        <p>2023 - Projeto I FOX 🦊 Para uma educação mais dinâmica e interativa  </p> <!--rodapé-->

        <div class="waves">
            <!--função das ondas-->
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>

    </footer>*@

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>


    @RenderSection("JavaScript", false)
    
</body>
</html>
