@model Caderno
@{
    ViewData["Title"] = "Criar Caderno";
}
@section Estilos{
    <link rel="stylesheet" href="~/css/criarCaderno.css" />
}

<section>

    <div class="criar">

        <div class="container">
            <form method="post" asp-action="CriarCaderno">
                <h2>Novo Caderno</h2>

                <div class="campo">
                    <label for="titulo">Título:</label>
                    <input name="titulo" type="text" id="titulo" required/>
                </div>
                    
                <div class="campo">
                    <label for="">Selecione um ícone:</label>
                    <div class="icones_cadernos">

                        <input type="radio" name="imagem" id="agenda" value="agenda.png" />
                        <input type="radio" name="imagem" id="caderno" value="caderno.png" />
                        <input type="radio" name="imagem" id="conhecimento" value="conhecimento.png" />
                        <input type="radio" name="imagem" id="educacao" value="educacao.png" />
                        <input type="radio" name="imagem" id="flash-card" value="flash-card.png"/>
                        <input type="radio" name="imagem" id="material-escolar" value="material-escolar.png" />
                        <input type="radio" name="imagem" id="pessoas" value="pessoas.png" />
                        <input type="radio" name="imagem" id="pilha-de-livros" value="pilha-de-livros.png" />
                        <input type="radio" name="imagem" id="planeta-terra" value="planeta-terra.png" />
                       
                    </div>
                </div>

                <div class="campo">
                    <label for="descricao">Descrição: (opcional)</label>
                    <textarea name="descricao" id="descricaoArea" cols="30" rows="10"></textarea>
                </div>

                <button type="submit">SALVAR</button>
            </form>
            <p>@TempData["Testes"]</p>
        </div>

    </div>
</section>