@model Caderno
@{
    ViewData["Title"] = "Criar Caderno";
}
@section Estilos{
    <link rel="stylesheet" href="~/css/criarCaderno.css" />
}

<section>

    <div class="criar">

        <div class="container">
            <form method="post" asp-action="CriarCaderno">
                <h2>Novo Caderno</h2>

                <div class="campo">
                    <label for="titulo">Título:</label>
                    <input name="titulo" type="text" id="titulo" required/>
                </div>
                    
                <div class="campo">
                    <label for="">Selecione um ícone:</label>
                    <div class="icones_cadernos">
                        <img src="~/img/icones_caderno/agenda.png" />
                        <img src="~/img/icones_caderno/caderno.png" />
                        <img src="~/img/icones_caderno/conhecimento.png" />
                        <img src="~/img/icones_caderno/educacao.png" />
                        <img src="~/img/icones_caderno/flash-card.png" />
                        <img src="~/img/icones_caderno/material-escolar.png" />
                        <img src="~/img/icones_caderno/pessoas.png" />
                        <img src="~/img/icones_caderno/pilha-de-livros.png" />
                        <img src="~/img/icones_caderno/planeta-terra.png" />
                    </div>
                </div>

                <div class="campo">
                    <label for="descricao">Descrição: (opcional)</label>
                    <textarea name="descricao" id="descricaoArea" cols="30" rows="10"></textarea>
                </div>

                <button type="submit">SALVAR</button>
            </form>
            <p>@TempData["Testes"]</p>
        </div>

    </div>
</section>