@{
    ViewData["Title"] = "Criar Caderno";
}
@section Estilos{
    <link rel="stylesheet" href="~/css/criarCaderno.css" />
}

<section>

    <div class="criar">

        <div class="container">
            <form method="post" asp-action="CriarCaderno">
                <h2>Novo Caderno</h2>

                <div class="campo">
                    <label for="titulo">Título:</label>
                    <input name="titulo" type="text" id="titulo"/>
                </div>
                    
                <div class="campo">
                    <label for="">Selecione um ícone:</label>
                    <p>Veremos isso no segundo sprint!</p>
                </div>

                <div class="campo">
                    <label for="descricao">Descrição: (opcional)</label>
                    <textarea name="descricao" id="descricaoArea" cols="30" rows="10"></textarea>
                </div>

                <button type="submit">SALVAR</button>
            </form>
        </div>

    </div>
</section>