@{
    //Sessões
    @section Estilos{
        <link rel="stylesheet" href="~/css/feed.css" />
    }

    @section JavaScript{
        <script src="~/js/feed_carrosseis.js"></script>
    }

    ViewData["Title"] = "Feed";
}
<section>

    <div class="feed">

        <div class="igual">
            <img alt="" src="~/img/tela_feed/feed_texto1.png" id="tamanho">

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>

        <div class="igual">
            <img alt="" src="~/img/tela_feed/feed_carrossel1.png" id="tamanho1">

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>

        <div>
            <div class="lado">
                <img alt="" src="~/img/tela_feed/feed_imagem1.png" id="tamanho2">
                <img alt="" src="~/img/tela_feed/feed_texto2e3.png" id="tamanho3">
            </div>

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>


        <div class="igual1 carro-1">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carousel">
                    <img src="~/img/tela_feed/1.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/2.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/3.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/4.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/5.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/6.png" alt="img" draggable="false">
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>

        <div>
            <div class="lado">
                <img alt="" src="~/img/tela_feed/feed_imagem2e3.png" id="tamanho1">
            </div>

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>
        </div>

        <div class="igual">
            <img alt="" src="~/img/tela_feed/feed_texto4.png" id="tamanho">

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>

        <div class="igual1 carro-2">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carousel">
                    <img src="~/img/tela_feed/carrossel 2 part1.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/carrossel 2 part2.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/carrossel 2 part3.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/carrossel 2 part4.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/carrossel 2 part5.png" alt="img" draggable="false">
                    <img src="~/img/tela_feed/carrossel 2 part6.png" alt="img" draggable="false">
                </div>
                <i id="right" class="fa-solid fa-angle- "></i>
            </div>

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>

        </div>


        <div>
            <div class="lado">
                <img alt="" src="~/img/tela_feed/feed_texto5.png" id="tamanho5">
                <img alt="" src="~/img/tela_feed/fedd_imagem4.png" id="tamanho4">
            </div>

            <div class="botao">
                <img alt="" src="~/img/tela_feed/coracao2.png" id="curtida">
                <button></button>
            </div>
        </div>

        <div class="post">
            <p>Aguarde! Em breve mais post...</p>
        </div>

    </div>

</section>