@{
    ViewData["Title"] = "Home";
}

@*MODEL DA CLASSE CADERNO*@
@{
    @model IEnumerable<I_FOX_V1.Models.Caderno>
}

@section Estilos{
    <link rel="stylesheet" href="~/css/cadernosEstilo.css" />
}

 <div class="texto_introducao">
    <h1>Olá @TempData["nomeUsuario"]</h1>
    <p>Seja bem vindo ao site I FOX. Aqui ao lado temos algumas funções bem legais da nossa plataforma, depois dê uma olhada.<br> Comece agora criando um caderno</p>
</div>

<section class="funcionalidades">
    
    @*Funcionalidade do mapa de missões*@
    <div class="funcionalidade">
        <div class="imagem">
            <img src="~/img/mapa-do-tesouro.png" alt="" />
        </div>
        <p>MAPA</p>
    </div>

    @*Funcionalidade do pomodoro*@

    <a asp-controller="Usuario" asp-action="Pomodoro">
        <div class="funcionalidade">
            <div class="imagem">
                <img src="~/img/pomodoro-icon.png" alt="" />
            </div>
            <p>POMODORO</p>
        </div>
    </a>

    @*Funcionalidade de lembretes*@

    <div class="funcionalidade">
        <div class="imagem">
                <img src="~/img/lembrete-icon.png" alt="" />
        </div>
        <p>LEMBRETES</p>
    </div>

</section>

<section class="cabecalhoCadernos">

    <div>
        <img src="~/img/raposa-cadernos.png" alt="" />
    </div>

    <div class="tituloCadernos">
        <h3>SEUS CADERNOS</h3>
    </div>

    
    <a asp-controller="Usuario" asp-action="CriarCaderno">
        <div class="criarCadernos">
            <p>CRIAR CADERNO</p>
            <img src="~/img/caderno-criar.png" alt="" />
        </div>
    </a>

</section>

@*Cadernos que serão puxados do banco de dados!*@

<section class="cadernos">
    @if (Model != null)
    {
        @foreach (Caderno caderno in Model)
        {
            
            <div class="caderno">
                <a asp-controller="Usuario" asp-action="Materia" asp-route-id="@caderno.Codigo">
                    <div class="infos-caderno">
                        <img src="./img/caderno-criar.png" alt="" />
                        <p>@caderno.Titulo |</p>
                        <p>Quantidade de atividades</p>
                    </div>
                </a>

                <a asp-controller="Usuario" asp-action="DeletarCaderno" asp-route-id="@caderno.Codigo"><img class="lixin" src="~/img/deletar_icone.png"/></a>
            </div>

            <dialog>
                <p>Tem certeza que deseja excluir ?</p>
                <button>NÂO</button>
                <a>SIM</a>
            </dialog>
        }
    }
    else
    {
        <h4>Você não possui cadernos cadastrados, crie seu primeiro!</h4>
    }

</section>

@section JavaScript{
    <script src="~/js/popup.js"></script>
}