@{
    //Sessões
    @section Estilos{
        <link rel="stylesheet" href="~/css/loja.css" />
    }
    ViewData["Title"] = "Loja";
}

<section>

    <div class="tela">

        <div class="titulo">
            <h1>LOJA DO I-FOX</h1>
        </div>

        <div class="linha">
            <img alt="" src="~/img/i_fox/raposa_coroa.png" id="img">
            <p>
                Aqui você encontra pacotes para melhorar seus estudos.<br>
                Desde resumos para vestibular e livros em pdf até vídeo<br>
                aulas personalizadas e chat com professores do<br>
                mundo interio sobre o conteúdo desejado.
            </p>
            <img alt="" src="~/img/i_fox/dinheiros.png" id="img">
        </div>

        <div class="bloco">

            <div class="resumo">

                <div class="poligono">
                    <p id="escrita1">Pacote Premium BASIC FOX</p>
                    <p id="escrita2">UM MÊS GRATIS APÓS ASSINAR</p>
                    <p id="escrita3">R$ 12,90/mês após o período de oferta</p>
                </div>

                <div class="descricao_resumo">
                    <p id="escrita4">ESSE PACOTE OFERECE:</p>
                    <p id="escrita5">
                        Pdf de livros para o vestibular.
                        Pdf de <br>listas de exercícios baseadas no enem.
                        Pdf de<br> resumos exclusivos das matéria do ensino médio.
                    </p>
                </div>

                <div class="mais">
                    <p>VER MAIS</p>
                </div>

            </div>

            <div class="resumo">

                <div class="poligono">
                    <p id="escrita1">Pacote Premium MEGA FOX</p>
                    <p id="escrita2">UM MÊS GRATIS APÓS ASSINAR</p>
                    <p id="escrita3">R$ 26,90/mês após o período de oferta</p>
                </div>

                <div class="descricao_resumo">
                    <p id="escrita4">ESSE PACOTE OFERECE:</p>
                    <p id="escrita5">
                        Chat com alunos cadastrados no site.<br>
                        Vídeo aulas personalizadas para vestibular<br> e também sobre matérias genéricas.
                    </p>
                </div>

                <div class="mais">
                    <p>VER MAIS</p>
                </div>


            </div>

            <div class="resumo">

                <div class="poligono">
                    <p id="escrita1"> Pacote Premium ULTRA FOX</p>
                    <p id="escrita2">UM MÊS GRATIS APÓS ASSINAR</p>
                    <p id="escrita3">R$ 40,90/mês após o período de oferta</p>
                </div>

                <div class="descricao_resumo">
                    <p id="escrita4">ESSE PACOTE OFERECE:</p>
                    <p id="escrita5">
                        Chat de dicas com porfessores do Brasil <br>inteiro.
                        Conteúdos exclusivos de dicas para <br>estudos.
                        Resumos personalizados para você.
                    </p>
                </div>

                <div class="mais">
                    <p>VER MAIS</p>
                </div>

            </div>

        </div>

    </div>

</section>