
@section Estilos{
    <link rel="stylesheet" href="~/css/cadernosEstilo.css" />
}
<section>
    <div class="cabecalho-materia">
        <h1>Nome do caderno</h1>
        <div class="botao-pesquisar">
             <img src="img/lupa-pesquisa.png" />
             <input type="text" placeholder="Pesquisar"/>
        </div>
        <img src="~/img/organizador.png"/>
        <img src="~/img/filtro.png"/>
    </div>

    <div class="tipos-resumo">
        <p>Selecione o tipo de resumo que você deseja</p>

        <div class="resumo-tipo">
            <img src="~/img/flashcard.png" alt="" />
            <p>Flashcards</p>
        </div>

        <div class="resumo-tipo">
            <img src="~/img/foto-resumo.png" alt="" />
            <p>Foto</p>
        </div>

        <div class="resumo-tipo">
            <img src="~/img/audio-resumo.png" alt="" />
            <p>Áudio</p>
        </div>

        <div class="resumo-tipo">
            <img src="~/img/resumo-escrito.png" alt="" />
            <p>Escrito</p>
        </div>

    </div>

    <div class="resumos">
        <div class="resumo">
            <img src="" alt="" />
            <p>Nome do resumo | </p>
            <p>Tipo do resumo </p>
            <img src="~/img/tres-pontos.png" />
        </div>

            <div class="resumo">
                <img src="" alt="" />
                <p>Nome do resumo | </p>
                <p>Tipo do resumo </p>
                <img src="~/img/tres-pontos.png" />
            </div>
    </div>
</section>