@model Resumo
@section Estilos{
    <link rel="stylesheet" href="~/css/cadernosEstilo.css" />
}
<section>
    <div class="cabecalho-materia">
            <h1>@TempData["tituloCaderno"]</h1>
        <div class="botao-pesquisar">
             <img src="~/img/lupa-pesquisa.png" />
             <input type="text" placeholder="Pesquisar"/>
        </div>
        <div class="imagens-organizacao-materia">
            <img src="~/img/organizador.png" />
            <img src="~/img/filtro.png" />
        </div>
    </div>

    <div class="tipos-resumo">
        <p>Selecione o tipo de resumo que você deseja</p>

        <a class="">
            <div class="resumo-tipo">
                <img src="~/img/flashcard.png" alt="" />
                <p>Flashcards</p>
            </div>
        </a>

        <a class="">
            <div class="resumo-tipo">
                <img src="~/img/foto-resumo.png" alt="" />
                <p>Foto</p>
            </div>
        </a>

       <a class="">
            <div class="resumo-tipo">
                <img src="~/img/audio-resumo.png" alt="" />
                <p>Áudio</p>
            </div>
       </a>

        <a class="" asp-controller="Resumos" asp-action="ResumoEscrito">
            <div class="resumo-tipo">
                <img src="~/img/resumo-escrito.png" alt="" />
                <p>Escrito</p>
            </div>
        </a>

    </div>

    <div class="descricao_caderno">
        <img src="~/img/raposa-cadernos.png" />
        <h5>@TempData["descricaocaderno"]</h5>
    </div>

    <div class="resumos">
        <div class="resumo">
            <img src="" alt="" />
            <p>Nome do resumo | </p>
            <p>Tipo do resumo </p>
            <img src="~/img/tres-pontos.png" />
        </div>

        <div class="resumo">
            <img src="" alt="" />
            <p>Nome do resumo | </p>
            <p>Tipo do resumo </p>
            <img src="~/img/tres-pontos.png" />
        </div>
    </div>
</section>