@section Estilos{
    <link rel="stylesheet" href="~/css/notificacao.css"/>
}

<section>

    <div class="tudo">

        <div class="escrita">

            <br>
            <img alt="" src="~/img/icones_crud/notificacao.png" width="150px" height="150px">
            <p>LEMBRETES E NOTIFICAÇÕES </p>

        </div>


        <div class="cinza">
            <p>notificação da revisão dos flashs</p>
        </div>

        <br>

        <div class="cinza">
            <p>notificação da revisão dos flashs</p>
        </div>

        <br>

        <div class="img1">
            <img alt="" src="~/img/icones_crud/tres-pontos.png" width="40px" height="15px">
        </div>

        <br><br>

        <!-- <div class="azul">
            <p>Relátorio de pomos</p>
        </div> -->

    </div>


        

    <div class="img">

        <img alt="" src="~/img/icones_crud/relatorio_pomos.png" width="1860px" height="450px">
           
    </div>

</section>
