@{
    TempData["Title"] = "POMODORO";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/pomodoro.css" />
    <link rel="stylesheet" href="~/css/popups/ExplicacaoPomodoro.css"/>
}

@section JavaScript{


    <script src="~/js/pomodoro.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="~/js/popup.js"></script>
}

<section>

    <br><br><br>
        <div class="escrita">
            <h2>Nome do seu cadastro</h2>
            <div class="lado">
                <p> Aqui você pode iniciar o temporizar para o método
                <p id="azul">POMODORO</p>
                </p>
            </div>
        </div>


        <!-- Menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">


            <div class="ml-auto">
                <a onclick="pausar()">
                    <i id="pause" class="fa fa-pause text-white" style="font-size: 25pt; display: none;"
                        aria-hidden="true"></i>
                </a>

                <a onclick='executar()'>
                    <i id='play' class="fa fa-play text-white" style="font-size: 25pt; display: none;"
                        aria-hidden="true"></i>
                </a>

                <audio id="lofi" src="~/audios/lo-fi.mp" type="audio/mpeg"></audio>
            </div>

        </nav>



        <div class="lado">
            <div class="img pop-button">
                <img alt="" src="~/img/i_fox/balaoo.png" width="330px" height="220px">
            </div>



            <div id="config">
                <div class="bloco">

                    <div class="bloquinho">
                        <p>DEFINIR O TEMPO DO POMODORO:</p>
                    </div>

                    <div class="lado1">

                        <div class="inserir">
                            <p>FOCO</p>
                            <input type="number" id="acao">
                            <small class="text-danger" id='erro_acao'></small>
                        </div>

                        <div class="inserir">
                            <p>DESCANSO</p>
                            <input type="number" id="pausa">
                            <small class="text-danger" id='erro_pausa'></small>
                        </div>

                        <div class="inserir">
                            <p>QUANTIDADE</p>
                            <input type="number" id="sessoes">
                            <small class="text-danger" id='erro_sessoes'></small>
                        </div>

                    </div>

                    <div class="botao">
                        <button onclick="iniciar()">INICIAR POMODORO</button>
                    </div>



                </div>


            </div>

            <!-- Timer -->

            <div id="timer">

                <div class="row mb-3">
                    <div class="col">
                        <h3 id='title'></h3>
                    </div>
                </div>

                <!-- Relogio -->
                <div class="row shadow time">
                    <div class="col-5 p-0 ">
                        <h2 id="minutes_ok"></h2>
                    </div>
                    <div class="col-1 p-0 d-flex justify-content-center">
                        <h2>:</h2>
                    </div>
                    <div class="col-5 pl-0">
                        <h2 id="seconds_ok"></h2>
                    </div>
                </div>
                <!-- /Relogio -->

                <div class="row mt-5">
                    <div class="col">
                        <h3 id='title_sessao'></h3>
                    </div>
                </div>

            </div>
            <!-- /Timer -->

            <!-- Finalização -->
            <div id="fim" style="display: none;">

                <div class="editar">
                    <h1>Parabéns! Você finalizou suas tarefas.</h1>
                    <div>
                        <div>
                            <a href="./novapomodoro.html" class="botaozinho">Inicio</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Finalização -->

        </div>


        <dialog>

            <center>

                <div class="bloco">

                    <div class="primeiralinha">

                        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png" width="170px" height="130px">

                        <h1>O QUE É O MÉTODO POMODORO</h1>

                    </div>


                    <div class="blocoBranco">

                        <p>
                            Você sabia que o Pomodoro é um método de
                            gerenciamento de tempo
                            baseado em períodos de
                            estudo focado?
                        </p>

                        <img alt="" src="~/img/popups/pomodoro.png" width="180px" height="140px">

                    </div>

                    <div class="blocoBranco1">

                        <img alt="" src="~/img/popups/estudando.png" width="170px" height="130px">

                        <p>
                            Nesta abordagem, alterna-se entre sessões de trabalho e pausa.
                            Assim, ao trabalhar em curtas sessões, a probabilidade de se manterem produtivas e motivadas é
                            maior.
                        </p>

                    </div>

                    <div class="escrita">

                        <p class="escrita1"> Esse método tem muitas vantagens como: </p>

                    </div>

                    <div class="laranja">

                        <div class="laranjinha">

                            <img alt="" src="~/img/popups/pensando.png" width="100px" height="90px">
                            <p class="escrita2">Ajuda a <br> diminuir distrações</p>

                        </div>

                        <div class="laranjinha">

                            <img alt="" src="~/img/popups/thinkando.png" width="100px" height="90px">
                            <p class="escrita2">Aumenta a <br>concentração</p>

                        </div>

                        <div class="laranjinha">

                            <img alt="" src="~/img/popups/bateria.png" width="90px" height="90px">
                            <p class="escrita4">Reduz a <br>fadiga mental</p>

                        </div>

                        <div class="laranjinha">

                            <img alt="" src="~/img/popups/escalando.png" width="100px" height="90px">
                            <p class="escrita3">Preserva a <br>motivação</p>

                        </div>

                    </div>

                    <button>OK</button>

                </div>

            </center>

        </dialog>

</section>