/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
/* font-family: 'Aclonica', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
/* font-family: 'Pathway Gothic One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
/* font-family: 'Sue Ellen Francisco', cursive; */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
:root {
    --bege: #efd7bc;
    --laranjaEscuro: #d9653b;
    --laranjaClaro: #f28749;
    --verde: #a5ce7f;
    --azulClaro: #69e9f4;
    --azulEscuro: #009fad;
}

*{
    margin: 0;
    padding: 0;
}

.funcionalidades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--verde);
    border: 2px solid #000000;
    border-radius: 40px;
    width: 80vw;
}

.imagem {
    background-color: var(--azulEscuro);
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px;
    padding: 10px;
}

.funcionalidade img{
    height: 80px;
}

.funcionalidade p {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

/*CABECALHO DOS CADERNOS*/

.cabecalhoCadernos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin: 20px auto;
    padding-bottom:40px;
}

.cabecalhoCadernos img {
    height: 100px;
}

.cabecalhoCadernos a{
    text-decoration: none;
}

.tituloCadernos h3 {
    font-size: 40px;
    font-family: 'Sue Ellen Francisco', cursive;
    border-bottom: 2px solid #000;
}

.tituloCadernos p {
    font-size: 30px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.criarCadernos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    column-gap: 20px;
    margin-left: 70px;
    background-color: var(--azulEscuro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px;
    padding: 15px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 30px;
}

.criarCadernos:hover{
    transform: scale(1.08);
}

.criarCadernos img{
    height: 50px;
}

/*CADERNOS*/

.cadernos {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 25px;
}

.caderno img {
    height: 30px;
}

.caderno {
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius:10px;
}

.infos-caderno{
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}

.caderno:nth-child(even) {
    background-color: var(--azulClaro);
}

.caderno:nth-child(odd) {
    background-color: var(--azulEscuro);
}

/*CABECALHO data MATERIA*/
.cabecalho-materia{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    column-gap: 100px;
    margin: 20px auto;
}

.cabecalho-materia h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 40px;
}

.botao-pesquisar {
    display: flex;
    align-content: center;
    column-gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.botao-pesquisar input{
    max-width: 300px;
}
.botao-pesquisar img{
    height: 20px;
}


/*RESUMOS VÃO APARECER AQUI*/
.tipos-resumo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    max-width: 700px;
    padding:10px;
    column-gap:20px;
    background: #BC9E7C;
    border: 1px solid #000000;
    border-radius: 40px;
    margin-bottom: 30px;
}

.resumo-tipo img{
    padding: 15px;
    background-color: var(--laranjaEscuro);
    border-radius: 10px;
}

.resumos {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 40px;
}

.resumo {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    padding: 10px;
    border-radius: 15px;
}

.resumo img{
    width: 20px;
}

.resumo:nth-child(even) {
    background-color: var(--laranjaClaro);
}

.resumo:nth-child(odd) {
    background-color: var(--laranjaEscuro);
}