/* Fontes importadas */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
/**
    --beje
    --laranjaEscuro
    --laranjaClaro
    --verde
    --azulClaro
    --azulEscuro
    --azulMeio
    **/

/*Cadastrando o card*/
.container {
    display: flex;
    flex-direction: column;
    background-color: var(--azulMeio);
    max-width: 60vw;
    justify-content: center;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px auto;
}

.container_card{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cabecalho_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #74D1D9;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 15px;
}

textarea {
    min-width: 22vw;
    max-width: 25vw;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #000000;
    vertical-align: middle;
}

.lado_card {
    margin: 20px;
}

.lado_card p {
    justify-content: center;
    font-family: 'Pathway Gothic One';
    font-size: 40px;
}

.container_flashcard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_flashcard button {
    margin-top: 40px;
}

.botaoAzul, .botaoVermelho {
    min-width: 60vw;
    height: 60px;
    border-radius: 15px;
    font-size: 40px;
    font-family: 'Sue Ellen Francisco';
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}

.botaoAzul {
    background-color: var(--azulMeio); 
}

.botaoVermelho {
    background-color: #810707;
    color: #fff;
}

.container_flashcard input, .container_flashcard p {
    background: var(--beje);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    display: inline;
}

.cabecalho_card span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}


/*Exibindo os cards*/
.bloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.escrita {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloco img {
    width: 15vw;
}

.escrita .grande {
    font-family: ' Sue Ellen Francisco';
    font-size: 40px;
}

.escrita .pequeno {
    font-family: ' Pathway Gothic One';
    font-size: 20px;
}

.button {
    font-family: 'Sue Ellen Francisco';
    font-size: 50px;
    text-align: center;
    min-width: 10vw;
    height: 120px;
    border-radius: 25px;
    background-color: #a5ce7f;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button img{
    height: 30px;
}

.blocoAzul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media (max-width: 830px) {


    .bloco img {
        height: 220px;
        width: 320px;
    }

    .escrita .grande {
        font-family: ' Sue Ellen Francisco';
        font-size: 30px;
    }

    .escrita .pequeno {
        font-family: ' Pathway Gothic One';
        font-size: 17px;
    }
}



@media (max-width: 650px) {

    .bloco img {
        display: none;
    }
}


@media (max-width: 1300px) {

    .blocoAzul {
        flex-direction: column;
    }

    .azul {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 45vw;
        height: 500px;
        background-color: #009fad;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
    }
}