/* PARTE DO CSS FLASHCARD */
/* Fontes importadas */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
/**
    --beje
    --laranjaEscuro
    --laranjaClaro
    --verde
    --azulClaro
    --azulEscuro
    --azulMeio
    **/

/*Cadastrando o card*/
.container {
    display: flex;
    flex-direction: column;
    background-color: var(--azulMeio);
    max-width: 60vw;
    justify-content: center;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 20px auto;
}

.container_card {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cabecalho_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #74D1D9;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 15px;
}
textarea {
    min-width: 22vw;
    max-width: 25vw;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #000000;
    vertical-align: middle;
}

.lado_card {
    margin: 20px;
}

.lado_card p {
    justify-content: center;
    font-family: 'Pathway Gothic One';
    font-size: 40px;
}

.container_flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_flashcard button {
    margin-top: 40px;
}

.botaoAzul, .botaoVermelho {
    min-width: 60vw;
    height: 60px;
    border-radius: 15px;
    font-size: 40px;
    font-family: 'Sue Ellen Francisco';
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}

.botaoAzul {
    background-color: var(--azulMeio);
}

.botaoVermelho {
    background-color: #810707;
    color: #fff;
}

.container_flashcard input, .container_flashcard p {
    background: var(--beje);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

.cabecalho_card span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}


/*Exibindo os cards*/
/* CABEÇALHO DOS CARDS */
.bloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.escrita {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloco img {
    width: 15vw;
}

.escrita h2 {
    font-family: 'Sue Ellen Francisco', sans-serif;
    font-size: 60px;
    font-weight: 100;
}

.escrita p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.escrita h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.button {
    font-size: 50px;
    text-align: center;
    width: 20vw;
    padding: 20px 0;
    border-radius: 25px;
    background-color: #a5ce7f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button:hover {
    transition: all 0.3s ease-in-out;
    background: var(--laranjaClaro);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 40px auto;
    column-gap: 8vw;
}

.button img {
    height: 40px;
}

/* TESTE DE MEMÓRIA */
.mudarCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.opcoes_resposta {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(200px, 220px));
    align-items: center;
    justify-content: center;
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}

.opcao-resposta, .resposta-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta-card {
    flex-direction: column;
    row-gap: 2vh;
}

.resposta-card {
    padding: 10px 0;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Sue Ellen Francisco', sans-serif;
}

.opcao-resposta img {
    width: 50px;
}

.opcao-resposta {
    position: relative;
    padding: 10px;
    column-gap: 20px;
    border-radius: 8px;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.opcao-resposta:nth-child(2) {
    background: #74D98A;
}

.opcao-resposta:nth-child(4) {
        
    background: #D9C274;
}

.opcao-resposta:nth-child(6) {
    background: #D97A74;
}

.opcao-resposta:nth-child(8) {
    color: white;
    background: #1f1f1f;
}

input[type=radio]:checked + .opcao-resposta {
    transition: all 0.2s linear;
    box-shadow: 0px 4px 4px var(--azulClaro);
    border: solid 3px var(--azulClaro);
}

.nadaaa {
    display: none;
}


/* FIM MEMÓRIA */ 
@media (max-width: 830px) {


    .bloco img {
        height: 220px;
        width: 320px;
    }

    .escrita .grande {
        font-family: ' Sue Ellen Francisco';
        font-size: 30px;
    }

    .escrita .pequeno {
        font-family: ' Pathway Gothic One';
        font-size: 17px;
    }
}



@media (max-width: 650px) {

    .bloco img {
        display: none;
    }
}
