/* Fontes importadas */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
/**
    --beje
    --laranjaEscuro
    --laranjaClaro
    --verde
    --azulClaro
    --azulEscuro
    --azulMeio
    **/

.bloco {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    max-width: 90vw;
    height: 30vh;
    margin: 0 auto;
    flex-direction: row;
}

.avatar {
    background-color: white;
    border-radius: 100%;
    padding: 70px;
}

p {
    font-family: 'Sue Ellen Francisco';
    font-size: 30px;
    display: flex;
}

.foraBloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    background-color: var(--verde);
    border-radius: 20px 0 0 0;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 25px;
}

/* parte branca */
input {
    padding: 13px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    border-radius: 0 0 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.campo input {
    min-width: 50vh;
}

.campo1 input {
    min-width: 46.5vh;
}

.campo2 input {
    min-width: 40vh;
}

#raposaFilhote:hover {
    transform: scale(1.02);
}


@media (max-width: 800px) {
    
    /* parte branca */
    input {
        padding: 10px;
        font-size: 18px;
    }
    .campo input {
        min-width: 30vh;
    }

    .campo1 input {
        min-width: 30vh;
    }

    .campo2 input {
        min-width: 24vh;
    }

    .foraBloco {
        display: flex;
        flex-direction: column-reverse;
    }

    .bloco div img{
        display: none;
    }

    label{
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    /* parte branca */
    input {
        font-size: 16px;
    }
    .campo input {
        min-width: 25vh;
    }

    .campo1 input {
        min-width: 25vh;
    }

    .campo2 input {
        min-width: 19vh;
    }

    /* parte verde */
    label {
        font-size: 16px;
    }
    .foraBloco #raposaFilhote {
        display: none;
    }
}
