/* Fontes importadas */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
/**
    --beje
    --laranjaEscuro
    --laranjaClaro
    --verde
    --azulClaro
    --azulEscuro
    --azulMeio
    **/

/*CABECALHO data MATERIA*/
.cabecalho-materia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    width: 90vw;
    margin: 20px auto;
}


.descricao_caderno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 40px auto;
    text-align: center;
    font-size: 1.5em;
    height: 20vh;
}

.descricao_caderno h5 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: black;
    font-size: 40px;
}

.cabecalho-materia h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.imagens-organizacao-materia {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.imagens-organizacao-materia img {
    height: 40px;
}

.cabecalho-materia h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 40px;
}

.botao-pesquisar {
    display: flex;
    align-content: center;
    column-gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.botao-pesquisar input {
    width: 40vw;
    font-family: 'Poppins', sans-serif;
}

.botao-pesquisar img {
    height: 20px;
}


/*RESUMOS VÃO APARECER AQUI*/
.tipos-resumo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    max-width: 60vw;
    padding: 30px;
    column-gap: 20px;
    background: #BC9E7C;
    border: 1px solid #000000;
    border-radius: 40px;
    margin-bottom: 30px;
}

.tipos-resumo p{
    font-size: 1.4em;
}

.resumo-tipo img {
    padding: 15px;
    background-color: var(--verde);
    border-radius: 10px;
}

.resumos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 300px));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

.resumo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-radius: 15px;
    margin: 15px auto;
    min-height: 350px;
    background-color: white;
}

.resumo img {
    width: 25px;
}

.poligono {
    display:flex;
    justify-content:center;
    min-width: 300px;
    border-radius: 15px;
    background: linear-gradient(180deg, #198D97 0%, #ADEBF0 100%);
    clip-path: polygon(0% 0%, 100% 0,100% 80%,50% 100%, 0% 80%);
}

.poligono img{
    margin: 40px;
    width: 6vw;
    margin-bottom: 30px;
}

.descricao_resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    align-items: center;
}

.lixin:hover{
    cursor: pointer;
}


.caderno:nth-child(even) {
    background-color: var(--azulClaro);
    border: 2px solid var(--azulClaro);
}

.caderno:nth-child(odd) {
    background-color: var(--azulEscuro);
    border: 2px solid var(--azulEscuro);
}

.caderno:hover {
    border: 2px solid white;
    cursor: pointer;
}