/* Fontes importadas */
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Sue Ellen Francisco', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* Cores da paleta do site */
/**
    --beje
    --laranjaEscuro
    --laranjaClaro
    --verde
    --azulClaro
    --azulEscuro
    --azulMeio
    **/

.bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    margin: auto auto;
    width: 80vw;
    padding: 25px;
    border-radius: 20px;
}

.botao {
    height: 70px;
    width: 180px;
    background-color: var(--laranjaClaro);
    color: rgb(3, 2, 2);
    font-family: 'Sue Ellen Francisco', cursive;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-size: xx-large;
}

.botao1 {
    height: 70px;
    width: 180px;
    background-color: var(--laranjaClaro);
    color: rgb(3, 2, 2);
    font-family: 'Sue Ellen Francisco', cursive;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-size: xx-large;
}

/* tablet */
@media (max-width: 800px) {
    .bloco {
        width: 90vw;
    }

    label {
        font-size: 22px;
    }

    p {
        font-size: 35px;
    }

    .botao {
        height: 45px;
        width: 140px;
        font-size: x-large;
    }

    .botao1 {
        height: 45px;
        width: 140px;
        font-size: x-large;
    }


    .titulo input {
        font-size: 8px;
        width: 330px;
    }



    .data input {
        font-size: 8px;
        width: 330px;
    }
}

/* celular */
@media (max-width: 450px) {
    .bloco {
        width: 70vw;
        padding: 30px;
    }

    label {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }

    .botao {
        height: 20px;
        width: 110px;
        font-size: large;
    }

    .botao1 {
        height: 20px;
        width: 100px;
        font-size: large;
    }


    .titulo input {
        font-size: 6px;
        width: 140px;
    }



    .data input {
        font-size: 6px;
        width: 140px;
    }

    .file #file {
        width: 100px;
        height: 80px;
    }
}
