@section Estilos{
    <link rel="stylesheet" href="~/css/ResumoFotos.css" />
}

<div class="bloco">

    <div class="verde">
       
        <form method="post" asp-action="CadastrarResumo" asp-route-id="@ViewBag.Id">
            <p>CRIANDO SEU RESUMO</p>

            <div class="titulo" >
                <label for="">Título</label>
                <input type="text" id="titulo1" name="titulo" placeholder="Digite o título de seu resumo">
            </div>

            <div class="data">
                <label for="">Data</label>
                <input type="date" id="titulo1" name="data">
            </div>

            <button class="botao1" type="submit">SALVAR</button>
        </form>
    </div>

</div>
