@section Estilos{
    <link rel="stylesheet" href="~/css/flashcards.css" />
}

<div class="bloco">

    <div class="verde">
        <p>CRIANDO SEU RESUMO</p>

        <div class="campo1">
            <label for="">Título</label>
            <input type="text" id="titulo1" placeholder="Digite o título de seu resumo">
        </div>

        <div class="campo1">
            <label for="">Data</label>
            <input type="date" id="titulo1">
        </div>

    </div>

</div>
