@section Estilos{
    <link rel="stylesheet" href="~/css/cadastroResumos.css" />
}

@section JavaScript{

}

<section class="bloco">
            
        <form method="post" asp-action="CadastrarResumo" asp-route-id="@ViewBag.Id">
        <p>Criando seu resumo!</p>

        <div class="titulo" >
            <label for="">Título</label>
            <input type="text" class="titulo" id="titulo1" name="titulo" placeholder="Digite o título de seu resumo" required>
            <span></span>
        </div>

        <div class="data">
            <label for="">Data</label>
            <input type="date" id="titulo1" name="data" value="@ViewBag.DataAtual" required>
        </div>

        <button type="submit">SALVAR</button>
    </form>

</section>
