@{

}

<section class="funcao">


        <div class="bloco">
            <br>
            <p>Salve seus resumos por aúdio aqui:</p>
            <br>

            <div class="titulo">
                <label for="">Título:</label>
                <input type="text" id="titulo">
            </div>


            <br><br>


            <div class="data">
                <label for="">Data:</label>
                <input type="date" id="data">
            </div>


            <br><br>

            <input role="button" value="Deletar Arquivo" class="botao">


            <br><br>

            <div class="checkbox">
                <input type="checkbox" id="checkbox">
                 <label for="">lugar onde vai ficar o arquivo</label>
            </div>

            <br><br> <br><br>

            <div class="file">
                <input type="file" id="file">
                <input role="button" value="Salvar Arquivo" class="botao1">
            </div>

            <br><br>

        </div>



    </section>