@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="funcao">

    <div class="bloco">
        <input role="button" value="Deletar Arquivo" class="botao">
        <br><br>

        <div class="audios">
            <label for="">lugar onde vai ficar o arquivo</label>
            <input type="checkbox"/>
            <audio></audio>
        </div>
        <div class="file">
            <input type="file" name="nao_sei_ainda_:)">
            <button>SALVAR ARQUIVO</button>
        </div>

    </div>



</section>