
@section Estilos{
    <link rel="stylesheet" href="~/css/resumoEscrito.css" />
}

<section class="resumo">
 
    <div class="bloco">

        <h2>Crie seu Resumo!</h2>
        <br />
        <form method="post" asp-controller="Resumos" asp-action="ResumoEscrito">
            <div class="titulo">
                <label for="">Título:</label>
                <input type="text" id="titulo" name="titulo">
                <br><br>

            </div>

            <div class="data">
                <label for="">Data:</label>
                <input type="date" id="data" name="data">
                <br><br />
            </div>

            <div>
                <label for="">Anotações:</label>
                <textarea name="texto" id="anotacoes"></textarea>
            </div>

            <br><br>
        </form>

    </div>

    <input role="button" type="submit" value="SALVAR" class="botao">

</section>