@model IEnumerable<I_FOX_V1.Models.Arquivo>

@section Estilos{
    <link rel="stylesheet" href="~/css/resumoFotos.css" />
}
@section JavaScript{
    <script src="~/js/arquivo.js"></script>
}
<section class="funcao">

    <div class="bloco">

        <form method="post" enctype="multipart/form-data" asp-controller="Resumos" asp-action="ResumoFotos" asp-route-id="@ViewBag.Id_foto">
            <div class="imagens_resumo">
                @if(Model != null)
                {
                    @foreach (Arquivo arquivo in Model)
                    {
                    
                        //Passando o arquivo da imagem
                        string imagemRes = Convert.ToBase64String(arquivo.ArrayBytes);
                        string formato = "data:image/*;base64," + imagemRes; 

                        <div class="elemento_imagem">
                            <img class="imagem_resumo" src="@formato" />
                            <a asp-controller="Resumos" asp-action="DeletarArquivo" asp-route-id="@arquivo.Codigo"><img src="~/img/icones_crud/deletar_icone.png" /></a>
                        </div>
                       
                    }
                }


                <div class="add-input elemento_imagem">
                    <label for="arq-1" id="arq-novo">+</label>
                    <input type="file" id="arq-1" name="arq" acept="image/*"/>
                </div>
            </div>

            <p></p>

            <div class="file">
                <button type="submit" class="botao-laranja">Salvar Arquivo</button>
            </div>

            <br><br>
        </form>

    </div>
</section>
