@*@model IEnumerable<I_FOX_V1.Models.Arquivo>*@

@section Estilos{
    <link rel="stylesheet" href="~/css/resumoFotos.css" />
}

<section class="funcao">

    <div class="bloco">
        <form method="post" asp-controller="Resumos" asp-action="ResumoFotos" enctype="multipart/form-data">

            <button class="botao">Deletar Arquivo</button>

            @if(Model != null)
            {
                @foreach (Arquivo arquivo in Model)
                {
                    
                    <div class="imagens_resumo">

                        @*@{
                            //Passando o arquivo da imagem
                            string imagemRes = Convert.ToBase64String(arquivo.ArrayBytes);
                            string formato = "data:image/png;base64," + imagemRes;
                        }*@

                        <div class="elemento_imagem">
                            <img src="" />
                            <label>Selecione</label>
                            <input type="checkbox" />
                        </div>
                    </div>

                }
            }

            <div class="file">
                <input name="arquivo" type="file" id="file">
                <button type="submit" class="botao1">Salvar Arquivo</button>
            </div>

            <br><br>
        </form>

    </div>
</section>
