
@section Estilos{
    <link rel="stylesheet" href="~/css/resumoEscrito.css" />
}

@section JavaScript{
    <script src="~/js/escritoo.js"></script>
}

<section class="resumo">
        
        <form method="post" asp-action="ResumoEscrito">

            <h4 class="cabecalho_escrito">Crie seu Resumo!</h4>

            <div class="centralizar">
                <div class="titulo">
                    <label for="">Título:</label>
                    <input type="text" id="titulo" name="titulo">
                    <br><br>

                </div>

                <div class="data">
                    <label for="">Data:</label>
                    <input type="date" id="data" name="data" value="@ViewBag.DataAtual">
                    <br><br />
                </div>

                <div>
                    <label for="">Anotações:</label>
                    <textarea name="texto" id="anotacoes"></textarea>
                </div>

                <br><br>
                <div>
                    <span>Quantidade de caracteres:</span>
                    <p id="caracteres">0</p>
                </div>
                <button type="submit" class="botao">SALVAR</button>
            </div>
           
        </form>

    <p>@TempData["Sit_Cad_Resumo"]</p>

</section>