@section Estilos{
    <link rel="stylesheet" href="~/css/flashcards.css" />
}

<section>
    <div class="blocoFora">

        <div class="bloquinho">
            <h3>Cartão 1</h3>
            <img alt="" src="./img/image 45.png" height="30px" width="30px">
        </div>

        <div class="azul">

            <div class="lado_card">
                <p>Frente</p>
                <textarea type="text" id="branco"></textarea>
            </div>

            <div class="lado_card">
                <p>Verso</p>
                <textarea type="text" id="branco"></textarea>
            </div>

        </div>


        <br><br><br>

        <button class="botaoAzul"> + Adicionar cartão</button>

        <br><br>

        <button class="salvar">Salvar</button>


    </div>

</section>
