@section Estilos{
    <link rel="stylesheet" href="~/css/flashcards.css" />
}

<section>
    <div class="blocoFora">

        <div class="bloquinho">
            <h3>Cartão 1</h3>
            <img src="~/img/icones_crud/deletar_icone.png" height="30px" width="30px"/>
        </div>

        <div class="azul">

            <div class="lado_card">
                <p>Frente</p>
                <textarea type="text" id="branco"></textarea>
            </div>

            <div class="lado_card">
                <p>Verso</p>
                <textarea type="text" id="branco"></textarea>
            </div>

        </div>

        <button class="botaoAzul">+ Adicionar cartão</button>

        <button class="salvar">Salvar</button>


    </div>

</section>
