@model IEnumerable<I_FOX_V1.Models.Flashcard>

    @section Estilos{
        <link rel="stylesheet" href="~/css/flashcard_card.css" />
        <link rel="stylesheet" href="~/css/flashcards.css" />
    }

<section> 

    <div class="bloco">

        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png"/>

        <div class="escrita">
            <h2 class="grande">SEUS FLASHCARDS </h2>
            <p>______________________</p>
            <br>
            <p class="pequeno">AQUI VAI FICAR O TÍTULO DO FLASHCARD</p>
        </div>
        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png"/>
    </div>

    <div class="botoes">

        <a asp-controller="Resumos" asp-action="RevisaoFlashcard" asp-route-id="@ViewBag.Id_Card">
            <div class="button">
                <img src="~/img/icones_crud/revisao_icon.png" alt="">
                <p>Revisao</p>
            </div>
        </a>

        <div class="button">
            <img src="~/img/icones_resumo/resumo-escrito.png" alt="">
            <p>Editar</p>
        </div>

    </div>

    <div class="cartoes">
        @if(Model != null){

            @foreach (Flashcard card in Model)
            {
                for(int i = 0; i < card.CodigoCard.Count; i++){

                    <div class="cartao">
                        @{
                            int numCard = i + 1;
                        }
                        <div class="cabecalho-cartao">
                            <h3>Cartão @numCard</h3>
                            <img alt="" src="~/img/i_fox/raposa-flutuante-png.png" height="70" />
                        </div>

                        <div class="card">
                            <label>
                                <input type="checkbox" />
                                <div class="flip-card">
                                    <div class="front">
                                        <p>@card.ListaFrente[i]</p>
                                    </div>
                                    <div class="back">
                                        <p>@card.ListaVerso[i]</p>
                                    </div>
                                </div>
                            </label>
                        </div>

                    </div>

                }
            }
        }

        
    </div>
</section>