@{
}

@section Estilos{
    <link rel="stylesheet" href="~/css/flashcard_card.css"/>
}
<section> 

    <div class="bloco">

        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png"/>

        <div class="escrita">
            <p class="grande"> SEUS FLASHCARDS </p>
            <p>_____________________________________________</p>
            <br>
            <p class="pequeno">AQUI VAI FICAR O TÍTULO DO FLASHCARD</p>
        </div>
        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png"/>
    </div>

    <div class="botoes">

        <div class="button">
            <img src="~/img/icones_crud/revisao_icon.png" alt="" height="60" width="60">
            <p>Revisao</p>
        </div>

        <div class="button">
            <img src="~/img/icones_resumo/resumo-escrito.png" alt="" height="60" width="60">
            <p>Editar</p>
        </div>

    </div>
    <br><br>

    <div class="blocoAzul">
        <div class="bloquinhoAzul">

            <div class="bloquinho">
                <h3>TÍTULO</h3>
                <img alt=""
                     src="~/img/i_fox/raposa-flutuante-png.png"height="70" width="90"/>
            </div>

            <div class="azul">

                <div class="lado_card">

                    <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>

                    <label>
                        <input type="checkbox" />
                        <div class="flip-card">
                            <div class="front">

                                <h1>Teste IFOX</h1>
                                <h2>hoje o dia esta nublado</h2>

                                <p>virar</p>
                            </div>
                            <div class="back">
                                <h1>deu certo</h1>
                                <hr />
                                <p>Escrita</p>
                                <hr />
                                <p class="click">virar</p>
                            </div>
                        </div>
                    </label>

                </div>

            </div>


        </div>

    </div>
</section>