@section Estilos{
    <link rel="stylesheet" href="~/css/fases.css"/>
}

<section>


    <div class="bloco">

        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png">

        <div class="escrita">
            <p class="grande"> MAPA DE FASES </p>
            <p>_______________________________________________________________</p>
        </div>

        <img alt="" src="~/img/i_fox/raposa-cabecalhos.png">


    </div>


    <div class="Fileira">

        <a asp-action="Mapa">
            <div class="fases">
                <p>Fase 1</p>
                <div class="bolinha">
                    <img src="~/img/pasta_avatares/avatar-colorido-1.png" alt="" width="250px" height="250px">
                </div>
            </div>
        </a>



        <div class="fases">
            <p>Fase 2</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-2.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 3</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-3.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 4</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-4.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 5</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-5.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 6</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-6.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>




        <div class="fases">
            <p>Fase 7</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-7.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>



        <div class="fases">
            <p>Fase 8</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-8.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 9</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-9.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 10</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-10.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 11</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-11.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


        <div class="fases">
            <p>Fase 12</p>
            <div class="bolinha">
                <button class="btn">
                    <img src="~/img/pasta_avatares/avatar-12.png" alt="" width="250px" height="250px">
                </button>
            </div>
        </div>


    </div>


    <dialog>

        <center>

            <p> Fase não desbloqueada ! </p>

            <button>OK</button>

        </center>

    </dialog>


</section>
