@section Estilos{
    <link rel="stylesheet" href="~/css/historia.css"/>
}


<section>

    <div class="titulo">
        <p>HISTÓRIA DOS PERSONAGENS</p>
    </div>


    <div class="historias">


        <div class="menina">

            <br>
            <div class="meio">

                <div class="escrita">
                    <p>FASE 1: HISTÓRIA DA ISABEL</p>
                </div>
            </div>


            <div class="fileira">

                <div class="bege">
                    <p>
                        Oii, eu me chamo Isabel Alves. Tenho atualmente 16 anos e sou nascida e criada aqui em Belém, capital do Pará. Meus
                        pais são casados e eu tenho 2 irmãs, uma se chama Maribel e a outra se chama Raquel.
                        Falando um pouco mais sobre mim, diria que sou uma pessoa
                        bem natureza, aquela amiga paz e amor sabe? Amo o cheiro de
                        grama molhada, escutar uma boa música e apreciar as pequenas
                        coisas da vida. Também amo cavalos de todo coração, por isso,
                        tenho como principal hobby a equitação. Sério gente, a melhor
                        sensação é a de estar correndo com meu cavalo e ter o vento
                        batendo no meu rosto, é uma experiência de outro mundo.

                    </p>
                </div>



                <img alt="" src="~/img/pasta_avatares/foto_historia_isabel1.png" id="fotos">

            </div>


            <br><br>


            <div class="fileira">

                <img alt="" src="~/img/pasta_avatares/foto_historia_isabel2.png" id="fotos">

                <div class="bege">
                    <p>

                        No meu tempo livre pratico um pouco de xadrez, é importante
                        exercitarmos a mente com algo que gostamos.

                        Falando nisso, estou próxima de um campeonato de xadrez que vai acontecer aqui no meu estado
                        logo logo, por isso, estou bem focada em aprimorar minhas técnicas no jogo.

                        Um dos meus grandes sonhos é ser independente e conhecer vários lugares pelo mundo, quem
                        sabe eu vire mochileira né?

                        Uma coisa importante sobre mim também, é que eu amo fazer novas amizades, então quero deixar
                        claro que tenho amigo por todo canto desse Brasil, pra não falar do mundo. Guardo no coração
                        todos meus amigos virtuais, principalmente a Maju o Gil e a Pamela meus amigos
                        de alma.
                    </p>
                </div>

            </div>


        </div>

        <div class="menino">


            <br>
            <div class="meio">
                <div class="escrita">
                    <p>FASE 2: HISTÓRIA DO JÚLIO</p>
                </div>
            </div>



            <div class="fileira">

                <div class="bege">
                    <p>
                        Olá, me chamo Júlio Torres. Esse mês faço 18 anos,
                        e sou aqui do famoso RJ, mais especificamente da minha
                        terra Ilha do Governador. Atualmente moro com meus pais
                        e meu irmão mais velho, o Fabrício. Mas quero
                        muito criar meu próprio caminho e ser independente.
                        Falando um pouco sobre mim, diria que sou aquela
                        pessoa energética. Adoro um bom churrasco com a família,
                        um role na praia com os amigos, viajar e ter novas experiências
                        sabe? Minha filosofia é que a vida é muito curta para não
                        aproveita-la, por isso vou de cara em todas as
                        oportunidades que esse mundão me dá para ser uma pessoa melhor.
                    </p>
                </div>



                <img alt="" src="~/img/pasta_avatares/foto_historia_julio1.png" id="fotos">

            </div>


            <br><br>


            <div class="fileira">

                <img alt="" src="~/img/pasta_avatares/foto_historia_julio2.png" id="fotos">

                <div class="bege">
                    <p>
                        No meu tempo livre gosto muito de passa-lo em uma
                        vibe mais artista, se é que me entendem kkkk,
                        então vivo desenhando, escrevendo meus pensamentos
                        e lendo bons livros. Mas também me empenho no meu
                        grande sonho, que é ser jogador profissional de
                        basquete. Amo esportes desde de criança e me
                        encontrei no basquete, que esporte lindo em
                        meus amigos. Então sempre tiro um tempo do meu
                        dia para me dedicar ao treino.
                        Falando agora em amizades, tenho meu parceiro aqui
                        da ilha, o João, nos conhecemos desde moleques
                        e amamos pegar umas ondas juntos. Também tenho amigos
                        que fiz nas minhas viagens da vida, amo todos mas
                        guardo no coração a Priscilinha e o grande Calvin.
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>