@section Estilos{
    <link rel="stylesheet" href="~/css/tela_mapa.css"/>
}

<section>
    <div class="telaMapa">




        <div class="explicacao">

            <p>O MAPA E SUAS FUNCIONALIDADES</p>


            <div class="bloquinhos">


                <!-- bloco  azul -->
                <div class="azul">

                    <p>Olá e nome</p>

                    <div class="azulEscuro">
                        <p>
                            BEM VINDO AO MAPA, CRIADO <br>
                            ESPECIALMENTE PARA VOCÊ<br>
                            QUE ADORA DESAFIOS
                        </p>
                        <p>
                            ELE SERVIRÁ COMO UM <br>
                            INCENTIVO PARA SEUS <br>
                            ESTUDOS SE TORNAREM<br>
                            MAIS DIVERTIDO E
                            DINÂMICO.
                        </p>
                    </div>

                </div>



                <!-- bloco  verde -->
                <div class="verde">

                    <p>
                        Como os desafios <br>
                        Irão funcionar
                    </p>

                    <div class="verdeEscuro">
                        <p>
                            CADA FASE TERÁ 8 DESAFIOS<br>
                            A SEREM CUMPRIDOS.CONFORME<br>
                            VOCÊ CUMPRI-LOS, SERÃO<br>
                            CHECADOS AUTOMATICAMENTE<br>
                            ATÉ A FASE SER COMPLETA.
                        </p>
                    </div>

                </div>



            </div>



            <p>QUAIS SERÃO AS CONQUISTAS AO PASSAR DE FASE</p>


            <div class="laranja">

                <div class="laranjaEscuro">
                    <p>
                        AO CUMPRIR TODOS OS DESAFIOS UMA NOVA<br> FASE SERÁ DESBLOQUEADA E VOCÊ<br> GANHARÁ UM NOVO
                        AVATAR PARA USO.<br>
                        TAMBÉM SERÁ DESBLOQUADO A <br>HISTÓRIA DO PERSONAGEM<br> PRINCIPAL DESSA FASE.
                    </p>
                </div>

                <div class="img">
                    <img alt="" src="~/img/i_fox/pessoas.png" id="branquinho">
                </div>


            </div>


            <div class="botoes">

                <a href="./historia.html">
                    <div class="botao">
                        <img alt="" src="~/img/pasta_avatares/lendo-um-livro 1.png" id="livro">
                        <button>HISTÓRIA DAS FASES</button>
                    </div>
                </a>


                <div class="botao1">
                    <button>CHECAR CONQUISTA</button>
                </div>

            </div>

        </div>







        <div class="mapa">

            <img id="mapinha" alt="" src="~/img/pasta_avatares/fundo_mapa.png">


            <div class="um">
                <a href="" id="1">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>


            <div class="dois">
                <a href="" id="2">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>


            <div class="tres">
                <a href="" id="3">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>


          


            <div class=" cinco">
                <a href="" id="5">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>

            <div class="seis">
                <a href="" id="6">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>


            <div class=" oito">
                <a href="" id="8">
                    <img src="~/img/pasta_avatares/botao_bloqueado.png" alt="" id="bloqueado">
                </a>
            </div>

        </div>

    </div>

   

    <!-- parte da lousa -->
    <div class=" meio">



        <div class="marrom">


            <div class="lousa">
                <p>DESAFIOS</p>

                <div class="PrimeiraColuna">

                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Crie seu primeiro caderno</label>
                    </div>


                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Crie 2 cadernos diferentes</label>
                    </div>


                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Crie 4 resumos diferentes</label>
                    </div>



                </div>


                <div class="SegundaColuna">


                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Crie seu primeiro flashcard</label>
                    </div>


                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Revise seus flahscards</label>
                    </div>


                  


                    <div class="desafio">
                        <input type="checkbox">
                        <label for="">Crie seu primeiro resumo escrito</label>
                    </div>

                </div>


            </div>


        </div>



    </div>




    <br>
    <br>

</section>