@{
    ViewData["Title"] = "Cadastre-se";
    TempData["NavBar"] = "falso";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/cadastro.css"/>
}

<section class="cadastre-se">

    <div class="formulario">

        <h1>CADASTRE-SE NO</h1>
        <h1>I-FOX</h1>
        <p>@TempData["SitCadastro"]</p>

        <form method="post" asp-action="Cadastrar" class="forms" id="formulario">

            <div class="campo">
                <label for="nome">USUÁRIO:</label>
                <input type="text" class="campo-input" id="usuario" name="nome" oninput="validarNomeUsuario()" placeholder="Digite um nome de usuário" required>
                <span class="span-obrigatorio">Escolha um usuário com pelo menos 6 caracteres, menor que 15 e sem espaços!</span>
            </div>

            <div class="campo">
                <label for="email">EMAIL:</label>
                <input class="campo-input"  type="email" id="email" name="email" placeholder="Digite seu melhor email" required>
            </div>

            <div class="campo">
                <label for="senha">SENHA:</label>
                <input class="campo-input" type="password" id="senha" name="senha" placeholder="Digite uma senha" required oninput="validarSenha()" />
                <span class="span-obrigatorio">Escolha sua senha com pelo menos 8 caracteres e 1 número</span>
            </div>

            <div class="campo">
                <label for="data" id="lbdata">DATA DE NASCIMENTO:</label>
                <input type="date" id="data" name="data" required>

            </div>

            <p>@TempData["validacaoUsuario"]</p>

            <div class="juntos">
                <img id="raposa" src="~/img/i_fox/raposa-cadastrar.png">
                <button class="botao">CADASTRAR</button>
            </div>
            
        </form>

    </div>

    <div class="Avatar">

        <p>Espaço para colocar os avatares que serão inseridos aqui no próximo sprint</p>

    </div>

</section>

@section JavaScript{
   <script src="~/js/Validacoes.js"></script>
}
