@{
    ViewData["Title"] = "Home Page";
    TempData["NavBar"] = "falso";
    TempData["footer"] = "verdadeiro";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/inicio.css" />
    <link rel="stylesheet" href="~/css/cards.css" />
}

    @section JavaScript{
    <script src="~/js/feed_carrosseis.js"></script>
}

<header>
 
    <nav class="nav-bar">

        <div class="logo">
            <img src="~/img/i_fox/logo-png-ifox.png" alt="logo do site">
        </div>

        <div class="login">

            <li><a href="/Home/Login"><ion-icon name="person-circle-outline"></ion-icon></a></li>
        </div>

    </nav>

</header> 

<section class="container">

    <!-- "jeito moderno de aprender..." -->

    <h4 class="titulo">Um jeito moderno, criativo e envolvente de aprender!</h4>
    <div class="divide-coluna">

        <div class="texto">
            <p id="">
                O I-FOX tem como principal objetivo, auxiliar os jovens
                em seus estudos, de uma forma mais interativa e moderna para se aprender.
                Com diversas variedades, onde o aluno poderá fazer resumos, flashcards,
                ingressar em salas formadas pelos professores, visualizar dicas propostas
                pelo site, e interagir com avatares e mapa de conquista durante seu uso.
            </p>

        </div>

        <div class="igual1 carro-1">
            <div class="wrapper">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carousel">
                    <img src="~/img/tela_inicial/1.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/2.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/3.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/4.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/5.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/6.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/7.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/8.png" alt="img" draggable="false">
                    <img src="~/img/tela_inicial/9.png" alt="img" draggable="false">
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
            </div>
        </div>


    </div>


    <!-- Parte onde fica as funcionalidades do site - CARDS -->

    <h3>Funcionalidades do nosso site </h3>

    <section class="funcao-inicial">

        <!-- Primeiro trio de cards -->

        <div class="card" id="card1">
            <div class="imagem">
                <img src="~/img/tela_inicial/caderno-card.png" alt="">
            </div>
            <p>
                O site disponibiliza ao estudante, criar cadernos de sua escolha,
                contendo o que for selecionado pelo uso do aluno, com diversas ferramentas.
            </p>
        </div>



        <div class="card" id="card2">
            <div class="imagem">
                    <img src="~/img/tela_inicial/card-card.png" alt="">
            </div>
            <p>
                O aluno poderá criar seu próprio flashcard, com objetivo de memorizar e
                organizar o conteúdo, compondo perguntas e respostas, em cada card.
            </p>
        </div>



        <div class="card" id="card3">
            <div class="imagem">
                <img src="~/img/tela_inicial/img-card.png" alt="">
            </div>
            <p>
                Galeria de fotos é disponível para cada aluno se organizar da
                melhor maneira com sua imagens, buscando em sua galeria de fotos.
            </p>
        </div>

        <!-- Segundo trio de cards -->

        <div class="card" id="card4">
            <div class="imagem">
                <img src="~/img/tela_inicial/fone-card.png" alt="">
            </div>
            <p>
                O aluno tem opção de resumos por áudio, onde ele poderá fazer gravações voltadas para o
                estudo.
            </p>
        </div>



        <div class="card" id="card5">
            <div class="imagem">
                <img src="~/img/tela_inicial/planilia-card.png" alt="">
            </div>
            <p>
                O aluno tem opção de resumos por áudio, onde ele poderá fazer gravações voltadas para o
                estudo.
            </p>
        </div>

        <div class="card" id="card6">
            <div class="imagem">
                <img src="~/img/tela_inicial/casa-card.png" alt="">
            </div>
            <p>
                A parte premium do site, é constituída por pdfs de livros privados, e parcerias com lojas
                qualificadas relacionadas a educação.
            </p>
        </div>
        <!-- Terceiro trio de cards -->


        <div class="card" id="card7">
            <div class="imagem">
                <img src="~/img/tela_inicial/lampada-card.png" alt="">
            </div>
            <p>
                O site possui um feed de dicas, onde você poderá aprender, e ter informações relacionadas ao estudo.
            </p>
        </div>



        <div class="card" id="card8">
            <div class="imagem">
                 <img src="~/img/tela_inicial/classe-card.png" alt="">
            </div>
            <p>
                O aluno poderá ingressar em salas de estudo, criadas pelo professor, onde terá acesso para estudar, com
                materiais
                disponibilizados pelo professor.

            </p>
        </div>

        <div class="card" id="card9">
            <div class="imagem">
                 <img src="~/img/tela_inicial/mapa-card.png" alt="">
            </div>
            <p>
                O aluno irá ter acesso ao mapa de conquistas, conteúdo criado de uma forma dinâmica aos
                usuários do site, onde alcançara avatares disponíveis, pela plataforma.

            </p>
        </div>

    </section>

    <!-- SOBRE NÓS -->

    <div class="sobreNos">
        <img src="~/img/i_fox/raposa-cabeca.png" alt="" id="imagem1">
        <p id="corLetra">Sobre Nós Criadores! </p>
        <img src="~/img/i_fox/raposa-cabeca.png" alt="" id="imagem1">
    </div>

    <div class="divide-coluna">
        <p id="corLetra1" class="texto">
            Nossa squad se chama I-FOX, possuindo 4 integrantes.Visamos por um projeto
            qualificado, onde terá foco aos estudantes,
            por um meio mais moderno e interativo para aprender,
            uma decisão tomada em grupo, para um fator muito importante nos dias atuais.
        </p>

        <div class="carrosel">
            <ul>
                <li>
                    <img src="~/img/tela_inicial/nos-2.png" alt="" width="600" height="490">
                </li>

                <li>
                    <img src="~/img/tela_inicial/nos-3.png" alt="" width="600" height="490">
                </li>

                <li>
                    <img src="~/img/tela_inicial/nos-1.png" alt="" width="600" height="490">
                </li>
            </ul>
        </div>
    </div>


    <div class="integrantes" id="integrante1">
        <img src="~/img/tela_inicial/nicolli-nos.png" alt="" id="imagem">
        <p>
            Eu me chamo Nicolli Franchini, tenho 17 anos,e estou cursando o terceiro termo do curso
            desenvolvimento
            de sistemas, na escola SENAI Zerbini. Me identifico com front-end.
        </p>
    </div>

    <br><br>

    <div class="integrantes" id="integrante2">
        <img src="~/img/tela_inicial/kevin-nos.png" alt="" id="imagem">
        <p>
            Eu me chamo Kevin Mendes Caldas, tenho 17 anos,e estou cursando o terceiro termo do curso
            desenvolvimento de
            sistemas, na escola SENAI Zerbini. Me identifico com a área de dados.
        </p>
    </div>

    <br><br>

    <div class="integrantes" id="integrante3">
        <img src="~/img/tela_inicial/gabi-nos.png" alt="" id="imagem">
        <p>
            Eu me chamo Gabriele Moura, tenho 17 anos, e estou cursando o terceiro termo do curso
            desenvolvimento de sistemas,
            na escola SENAI Zerbini. Me identifico com front-end.
        </p>
    </div>

    <br><br>

    <div class="integrantes" id="integrante4">
        <img src="~/img/tela_inicial/nepo-nos.png" alt="" id="imagem">
        <p>
            Eu me chamo Vitor Nepomuceno, tenho 17 anos, e estou cursando o terceiro termo do curso
            desenvolvimento de sistemas,
            na escola SENAI Zerbini. Me identifico com back-end.
        </p>
    </div>

    <br><br>

</section>
